<ion-header *ngIf="!cameraopened && !previewmode">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard" (click)="goto('dashboard')" [text]="'عودة'"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-button-icon-left" [translate]="'witness.status_title'"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!cameraopened && !previewmode">
  <app-shared-userdirective></app-shared-userdirective>
  <ion-item class="committee-background-white">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="font-size-14">
          <ion-label><span [translate]="'witness.subtext'"></span></ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="font-size-14 ion-padding-bottom-8 committee-color-contrast" [translate]="'witness.polling_stations'"></div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let pollingstation of witnessmodel.pollingstations">
        <ion-col size="12">
          <h4 color="dark-shade" class="font-size-18 ion-margin-top-8">{{pollingstation.arabicName}}</h4>
        </ion-col>
        <ion-col size="12" class="font-size-14">
          <div class="masonry">
            <img *ngFor="let item of pollingstation.witness" [src]="item.imageUrl" (click)="openImageFullView(item)">
          </div>
          <div *ngIf="pollingstation.witness.length === 0">
            <span [translate]="'witness.no_records'"></span>
          </div>
          <ion-button color="success" size="default" class="committee-button-size-medium-constract" shape="round" (click)="addWitnessImages(pollingstation)" *ngIf="pollingstation.witness.length && user.roles.witnessTabAddMore">
            <ion-ripple-effect></ion-ripple-effect>
            <span [translate]="'common.add_more'"></span>
          </ion-button>
          <ion-button color="success" size="default" class="committee-button-size-medium" shape="round" (click)="addWitnessImages(pollingstation)" *ngIf="pollingstation.witness.length === 0  && user.roles.witnessTabAddMore" >
            <ion-ripple-effect></ion-ripple-effect>
            <span [translate]="'witness.add_witness'"></span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<ion-header *ngIf="cameraopened || previewmode">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="witness" (click)="closeCamera()" [text]="'عودة'"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-button-icon-left" [translate]="'witness.title'"> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="background: none transparent;" *ngIf="cameraopened" class="camera">
  <div class="scan-area">
  </div>
  <div class="button-capture-bottom">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="3">
          <button (click)="toggleFlash()" ion-fab class="text-uppercase">
            <ion-icon name="flash"></ion-icon>
          </button>
        </ion-col>
        <ion-col size="4">
          <ion-button color="success" size="default" class="committee-button-size-medium" shape="round" (click)="captureImage()">
            <ion-ripple-effect></ion-ripple-effect>
            <span [translate]="'common.capture'"></span>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <button (click)="toggleCamera()" ion-fab class="text-uppercase">
            <ion-icon name="reverse-camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-content *ngIf="previewmode" fullscreen="true">
  <div class="image-area" >
    <ion-img src="{{blob.image}}" class="image-preview"></ion-img>
    <div class="button-bottom">
      <ion-grid class="transparent">
        <ion-row class="transparent ion-text-center">
          <ion-col size="6" class="transparent">
            <ion-button color="success" size="default" class="committee-button-size-medium" shape="round" (click)="saveImage()">
              <ion-ripple-effect></ion-ripple-effect>
              <span [translate]="'common.save'"></span>
            </ion-button>
          </ion-col>
          <ion-col size="6" class="transparent">
            <ion-button color="success" size="default" class="committee-button-size-medium ion-color-danger" shape="round" (click)="closeCamera()">
              <ion-ripple-effect></ion-ripple-effect>
              <span [translate]="'common.delete'"></span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
