<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard" [text]="'عودة'"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-button-icon-left" *ngIf="chat.chatrole !== 'readonly'"
               [translate]="'messages.send'"></ion-title>
    <ion-title class="back-button-icon-left" *ngIf="chat.chatrole === 'readonly'"
               [translate]="'messages.check'"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="committee-background-design">
  <ion-row *ngIf="chat && chat.chatrole === 'towaliofficers'" style="z-index: 10;
    position: fixed;background: white;width: 100vw">
    <ion-col size="12">
      <ion-select [interfaceOptions]="customWilayatOptions" [cancelText]="'إلغاء'" [okText]="'تطبيق'"
                  interface="action-sheet" multiple="false" placeholder="أختيار الولاية" class="committee-ion-select"
                  [(ngModel)]="kiosksmodel.wilayat.name" (ionChange)="changeWilayat($event)"
      >
        <ion-select-option *ngFor="let data of kiosksmodel.wilayats"
                           value="{{data.name}}">{{data.arabicName}}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-card
    style="margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    background: rgba(255,255,255,0.7);
    width: 100vw;"
        *ngIf="kiosksmodel.user">
      <ion-grid >
        <ion-row *ngIf="kiosksmodel.user && kiosksmodel.user.wilayat">
          <ion-col size="3">
            <ion-img
                src="{{kiosksmodel.user.imageUrl ? kiosksmodel.user.imageUrl : kiosksmodel.user.gender === 'male' ? '/assets/contacts/male_1.png': '/assets/contacts/female_1.png'}}"
                class="image-common-64"></ion-img>
          </ion-col>
          <ion-col size="8">
            <h6>{{kiosksmodel.user.nameEnglish}}</h6>
            <div><span [translate]="'common.wilayat'"></span>: &nbsp;&nbsp;{{kiosksmodel.user.wilayat.arabicName}}</div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!(kiosksmodel.user && kiosksmodel.user.wilayat)">
          <ion-col size="12">
            <h6 [translate]="'messages.nowaliuser'"></h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-row>
  <div class="message-wrap">
    <div *ngFor="let message of chat.allmessages"
         class="message" [class.left]="message.By != user.id"
         [class.right]="message.By == user.id">
      <ion-card
          style="margin-top: 0px;margin-right: 0px;margin-left: 0px; margin-bottom: 0px; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);background: rgba(255,255,255,0.7);">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-padding-left-16">
              <div class="ion-padding-right-24"><span *ngIf="message.CreatedToUser && message.CreatedToUser.username && message.CreatedToUser.username"><span [translate]="'messages.sendtoonly'"></span> {{message.CreatedToUser.wilayat.arabicName }}:{{ message.CreatedToUser.nameArabic}}  <span [translate]="'messages.sendtoonlyby'"></span></span>&nbsp;{{message.CreatedBy.nameArabic}}</div>
              <h6> {{message.Message}}</h6>
              <div class="ion-padding-right-24">{{message.CreatedAt | dateconvert}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer no-border *ngIf="chat.chatrole !== 'readonly'">
  <div class="input-wrap">
    <textarea #chat_input
              placeholder="كتابة الرسائل"
              [(ngModel)]="editorMsg"
              (keyup.enter)="sendMsg()"
              (focusin)="onFocus()">
    </textarea>
    <button ion-button clear icon-only item-right (click)="sendMsg()" class="chat-button">
      <ion-icon name="ios-send" class="font-size-32"></ion-icon>
    </button>
  </div>
</ion-footer>
