<ion-item>
  <ion-grid>
    <ion-row *ngIf="kiosksmodel.show.governorate">
      <ion-col size="12">
        <div class="font-size-14 fontweight-light" [translate]="'common.governorate'"></div>
      </ion-col>
      <ion-col size="12" *ngIf="readonly_view.governorate">
        {{kiosksmodel.governorate.arabicName}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="kiosksmodel.show.governorate && !readonly_view.governorate">
      <ion-col size="12">
        <ion-select [interfaceOptions]="customGovernorateOptions" [cancelText]="'إلغاء'" [okText]="'تطبيق'"
                    interface="action-sheet" multiple="false" placeholder="أختيار المحافظة" class="committee-ion-select"
                    [(ngModel)]="kiosksmodel.governorate.name" (ionChange)="dataService.onChangeGovernorate($event)">
          <ion-select-option *ngFor="let data of kiosksmodel.governorates"
                             value="{{data.name}}">{{data.arabicName}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="kiosksmodel.show.wilayat">
      <ion-col size="12">
        <div class="font-size-14 fontweight-light" [translate]="'common.wilayat'"></div>
      </ion-col>
      <ion-col size="12" *ngIf="readonly_view.wilayat">
        {{kiosksmodel.wilayat.arabicName}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="kiosksmodel.show.wilayat && !readonly_view.wilayat">
      <ion-col size="12">
        <ion-select [interfaceOptions]="customWilayatOptions"  [cancelText]="'إلغاء'" [okText]="'تطبيق'"
                    interface="action-sheet" multiple="false" placeholder="أختيار الولاية" class="committee-ion-select"
                    [(ngModel)]="kiosksmodel.wilayat.name" (ionChange)="dataService.onChangeWilayat($event)"
                    [disabled] ="!(kiosksmodel.governorate && kiosksmodel.governorate.name)"
        >
          <ion-select-option *ngFor="let data of kiosksmodel.wilayats" value="{{data.name}}">{{data.arabicName}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="kiosksmodel.show.pollingstation">
      <ion-col size="12">
        <div class="font-size-14 fontweight-light" [translate]="'common.polling_station'"></div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="kiosksmodel.show.pollingstation">
      <ion-col size="12">
        <ion-select [interfaceOptions]="customPSOptions" [cancelText]="'إلغاء'" [okText]="'تطبيق'"
                    interface="action-sheet" multiple="false" placeholder="أختيار المركز الانتخابي" class="committee-ion-select"
                    [(ngModel)]="kiosksmodel.pollingstation.name" (ionChange)="dataService.onChangePollingStation($event)"
                    [disabled] ="!(kiosksmodel.wilayat && kiosksmodel.wilayat.name)">
          <ion-select-option *ngFor="let data of kiosksmodel.pollingstations" value="{{data.name}}">{{data.arabicName}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
