.message-page-card-icon-right{
  z-index: 10;
  position: absolute;
  left: 0;
  top: 40%;
}
.message-restrict-icon {
  right: 0;
  bottom: 0;
  top: 10px;
  left: 10px;
}
ion-card{
  background: white;
}
