<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard" [text]="'عودة'"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-button-icon-left" [translate]="'messages.send'"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="committee-background-design">
  <app-shared-userdirective></app-shared-userdirective>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h5 color="dark-shade" class="fontweight-medium" [translate]="'messages.choose'"></h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none">

          <ion-card *ngIf="(user && user.roles && user.roles.messageTabAllMembers)" (click)="goto('messaging/chat/toallmembers')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="12" class="ion-padding-left-16">
                  <h4 class="width-95 line-height-one" [translate]="'messages.all'" *ngIf="user.roles.name === 'high_committee' || user.roles.name === 'main_committee'"></h4>
                  <h4 class="width-95 line-height-one" [translate]="'messages.all_wali'" *ngIf="user.roles.name !== 'high_committee' && user.roles.name !== 'main_committee'"></h4>
                  <ion-icon name="arrow-forward" item-right class="message-page-card-icon-right font-size-32"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.messageTabWaliOfficers)" (click)="goto('messaging/chat/towaliofficers')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="12" class="ion-padding-left-16">
                  <h4 class="width-95 line-height-one" [translate]="'messages.wali_officer'"></h4>
                  <!--                  <div class="ion-padding-right-5" [translate]="'messages.wali_officer_message'"></div>-->
                  <ion-icon name="arrow-forward" item-right class="message-page-card-icon-right font-size-32"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && (user.roles.id !== 2 && user.roles.id !== 3) &&  user.roles.messageTabHeadCommittees)" (click)="goto('messaging/chat/tocommitteehead')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="12" class="ion-padding-left-16">
                  <h4 class="width-95 line-height-one" [translate]="'messages.committee_head'"></h4>
<!--                  <div class="ion-padding-right-5" [translate]="'messages.commitee_head_message'"></div>-->
                  <ion-icon name="arrow-forward" item-right class="message-page-card-icon-right font-size-32"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <ion-card *ngIf="(user && user.roles && (user.roles.id === 2 || user.roles.id === 3) && user.roles.messageTabHeadCommittees)" (click)="goto('messaging/chat/tocommitteehead')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="12" class="ion-padding-left-16">
                  <h4 class="width-95 line-height-one" [translate]="'messages.committee_head_by_wali'"></h4>
                  <!--                  <div class="ion-padding-right-5" [translate]="'messages.commitee_head_message'"></div>-->
                  <ion-icon name="arrow-forward" item-right class="message-page-card-icon-right font-size-32"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <ion-card *ngIf="(user && user.roles && user.roles.messageTabToHeadCommittee)" (click)="goto('messaging/chat/toheadcommittee')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="12" class="ion-padding-left-16">
<!--                  <h4 class="width-95 line-height-one" [translate]="'messages.high_committee'"></h4>-->
                  <h4 class="width-95 line-height-one" [translate]="'messages.main_committee'"></h4>
<!--                  <div class="ion-padding-right-5" [translate]="'messages.high_committee_message'"></div>-->
                  <ion-icon name="arrow-forward" item-right class="message-page-card-icon-right font-size-32"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>


          <ion-card *ngIf="(user && user.roles && user.roles.messageTabRestrictMessage)">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="12" class="ion-padding-left-16">
                  <h4 class="width-95 line-height-one" [translate]="'messages.restrict_message'"></h4>
                  <div class="ion-padding-right-5" [translate]="'messages.restrict_message_text'"><ion-toggle color="success" class="message-restrict-icon" [(ngModel)]="restrictmessage" (ionChange)="restrictMessageWali($event)"></ion-toggle></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
