<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="toggleEdit()">
              <ion-icon slot="icon-only" name="create" *ngIf="!toggleedit"></ion-icon>
              <ion-icon slot="icon-only" name="checkmark" *ngIf="toggleedit"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="data-text-center">
                  <ion-avatar class="width-height-100">
                    <img src="{{user && user.imageUrl ? user.imageUrl : 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'}}">
                    <ion-button size="small" class="uploadimage" *ngIf="toggleedit" (click)="uploadImage()" [translate]="'common.upload_image'"></ion-button>
                  </ion-avatar>
                </div>
                <div class="data-text-center" *ngIf="!toggleedit && user">
                  <h2 ion-text class="committee-color">{{ user && user.nameArabic ? user.nameArabic : "Seban Joseph"}}</h2>
                </div>
                <div class="data-text-center" *ngIf="toggleedit && user">
                  <!-- Input with placeholder -->
                  <ion-input placeholder="Your name" value="{{user.nameArabic}}" (ionChange)="user.onChange($event.detail.value, 'nameArabic')" class="committee-color-dark"></ion-input>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none" class="ion-margin-top-12">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="font-size-16" [translate]="'common.mobile_label'"></div>
                </ion-col>
                <ion-col class="ion-text-end">
                  <div class="font-size-16 committee-button-text-color" (click)="togglePhoneEdit()" *ngIf="!toggleeditmobile" [translate]="'common.edit'"></div>
                  <div class="font-size-16 committee-button-text-color" (click)="togglePhoneEdit()" *ngIf="toggleeditmobile" [translate]="'common.save'"></div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="font-size-20" *ngIf="!toggleeditmobile && user">{{ user && user.phone ? user.phone : "98389 22343"}}</div>
                  <ion-input placeholder="Your Email" value="{{user.phone}}" (ionChange)="user.onChange($event.detail.value, 'phone')" class="committee-color-dark" *ngIf="toggleeditmobile && user"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item>
            <ion-grid style="width:100%;">
              <ion-row>
                <ion-col>
                  <div class="font-size-16" [translate]="'common.email_label'"></div>
                </ion-col>
                <ion-col class="ion-text-end">
                  <div class="font-size-16 committee-button-text-color" (click)="toggleEmailEdit()" *ngIf="!toggleeditemail" [translate]="'common.edit'"></div>
                  <div class="font-size-16 committee-button-text-color" (click)="toggleEmailEdit()" *ngIf="toggleeditemail" [translate]="'common.save'"></div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="font-size-20" *ngIf="!toggleeditemail && user">{{ user && user.email ? user.email : "seban@abc.com"}}</div>
                  <ion-input placeholder="Your Email" value="{{user.email}}" (ionChange)="user.onChange($event.detail.value, 'email')" class="committee-color-dark" *ngIf="toggleeditemail && user"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer padding style="background: var(--ion-color-committee)">
        <ion-grid style="width:100%;">
          <ion-row>
            <ion-col>
              <div class="font-size-16" [translate]="'common.changepassword'"></div>
            </ion-col>
            <ion-col class="ion-text-end">
              <div class="font-size-16 committee-button-text-color" (click)="changePassword()" [translate]="'common.edit'"></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="font-size-16" [translate]="'common.language'"></div>
            </ion-col>
            <ion-col class="ion-text-end">
              <ion-buttons class="ion-float-end">
                <ion-button (click)="openLanguagePopover($event)">
                  <ion-icon name="more" slot="icon-only">
                  </ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button expand="block" color="primary-contrast" shape="round" style="bottom: 20px;border: 1px solid #DC261C;
        border-radius: 30px;color: #DC261C;" (click)="logout()">
          <ion-ripple-effect></ion-ripple-effect>
          <span [translate]="'common.logout'"></span>
        </ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
