<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-button-icon-left">Scan QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: none transparent;" *ngIf="view === 'scan'">
  <div class="scan-area">
  </div>
  <div class="button-bottom">
    <button (click)="toggleFlashLight()" ion-fab class="text-uppercase">
      <ion-icon name="flash"></ion-icon>
    </button>
    <button (click)="toggleCamera()" ion-fab class="text-uppercase">
      <ion-icon name="reverse-camera"></ion-icon>
    </button>
  </div>
</ion-content>


<ion-content *ngIf="view === 'assign'">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <span color="dark-shade" class="fontweight-medium">Polling Station*</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="assignkiosksmodel.kiosks && assignkiosksmodel.kiosks.pollingStation">
      <ion-col size="12">
        <h5 color="dark-shade" class="fontweight-medium">{{assignkiosksmodel.kiosks.pollingStation.arabicName}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <span color="dark-shade" class="fontweight-medium">Kiosks*</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h5 color="dark-shade" class="fontweight-medium">{{assignkiosksmodel.kiosks.serialNumber}}</h5>
      </ion-col>
    </ion-row>
    <ion-row style="margin:12% 0px 25% 0px">
      <ion-col size="12" *ngIf="!assignkiosksmodel.userPartOfOtherPollingStation">
        <ion-img src="/assets/main_screen/document.png" class="image-common-64 margin-auto"></ion-img>
        <ion-item  lines="none" class="ion-text-center margin-custom-top-center" >
          Thank you {{this.user.nameEnglish}}
        </ion-item>
        <ion-item lines="none" class="ion-text-center margin-custom-top-center" *ngIf="assignkiosksmodel.attendanceMarked && !assignkiosksmodel.canMarkAttendance">
          Your attendance have been marked
        </ion-item>
        <ion-item lines="none" class="ion-text-center margin-custom-top-center" *ngIf="assignkiosksmodel.showAssigned">
          The Kiosk has been assigned to you
        </ion-item>
      </ion-col>
      <ion-col size="12" *ngIf="assignkiosksmodel.userPartOfOtherPollingStation">
        <ion-img src="/assets/main_screen/document.png" class="image-common-64 margin-auto"></ion-img>
        <ion-item  lines="none" class="ion-text-center margin-custom-top-center" >
          Hi {{this.user.nameEnglish}}
        </ion-item>
        <ion-item lines="none" class="ion-text-center margin-custom-top-center" *ngIf="assignkiosksmodel.userPartOfOtherPollingStation">
          You have been assigned to a different polling station please contact your head commmittee
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-grid style="position: absolute;
    bottom: 5vh;
    width: 100%;">
      <ion-row *ngIf="assignkiosksmodel.canMarkAttendance && !assignkiosksmodel.userPartOfOtherPollingStation">
        <ion-col size="12">
          <ion-button size="medium" expand="block" color="success" shape="round" (click)="markAttendance()">
            <ion-ripple-effect></ion-ripple-effect>
            Mark Attendance
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="assignkiosksmodel.isSelfAssignable && !assignkiosksmodel.userPartOfOtherPollingStation">
        <ion-col size="12">
          <ion-button size="medium" expand="block" color="success" shape="round" (click)="selfAssignKiosks()">
            <ion-ripple-effect></ion-ripple-effect>
            Self Assign Kiosks
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!assignkiosksmodel.isSelfAssignable || assignkiosksmodel.attendanceMarked">
        <ion-col size="12">
          <ion-button size="medium" expand="block" color="success" shape="round" (click)="goto('dashboard')">
            <ion-ripple-effect></ion-ripple-effect>
            Home
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
