<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-button-icon-left">Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="!user.roles.directionsTab">
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h5 color="dark-shade" class="fontweight-medium">Please select the following fields to check the attendance of committee members</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none">
          <app-shared-selectgovernorate></app-shared-selectgovernorate>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-button size="medium" expand="block" color="success" shape="round" (click)="goto('/attendance/attendancestatus/'+redirector)"
                              [disabled]="!(kiosksmodel.governorate && kiosksmodel.governorate.name
                    && kiosksmodel.wilayat && kiosksmodel.wilayat.name)">
                    <ion-ripple-effect></ion-ripple-effect>
                    View Attendance
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
