<ion-tabs *ngIf="this.user.roles.name === 'high_committee' || this.user.roles.name === 'main_committee' || this.user.roles.name === 'wali_officer' || this.user.roles.name === 'wali_assistant'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="voting" (click)="changeTab('voting', 'any')">
      <ion-label><span [translate]="'common.voting'"></span> </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="counting" (click)="changeTab('counting', 'any')">
      <ion-label><span [translate]="'common.counting'"></span> </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="organizing" (click)="changeTab('counting', 'any')">
      <ion-label><span [translate]="'common.organizing'"></span> </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-tabs *ngIf="this.user.roles.name !== 'high_committee' && this.user.roles.name !== 'main_committee' && this.user.roles.name !== 'wali_officer' && this.user.roles.name !== 'wali_assistant'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="assigned" (click)="changeTab(undefined, 'assigned')">
      <ion-label><span [translate]="'common.assigned'"></span></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="unassigned" (click)="changeTab(undefined, 'unassigned')">
      <ion-label><span [translate]="'common.unassigned'"></span></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
