<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="attendance"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-button-icon-left" [translate]="'kiosks_assign.title'"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <span color="dark-shade" class="fontweight-medium" [translate]="'common.polling_station_star'"></span>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h5 color="dark-shade" class="fontweight-medium">{{attendanceStatusModel.selectedPollingStation ?
          attendanceStatusModel.selectedPollingStation.name :
          attendanceStatusModel.selectedUser.pollingStation && attendanceStatusModel.selectedUser.pollingStation.name ?
            attendanceStatusModel.selectedUser.pollingStation.name : '' }}</h5>
      </ion-col>
<!--      <ion-col size="1"></ion-col>-->
<!--      <ion-col size="11">-->
<!--        <span color="dark-shade" class="fontweight-medium">Member*</span>-->
<!--      </ion-col>-->
<!--      <ion-col size="1"></ion-col>-->
<!--      <ion-col size="11" *ngIf="assignpollingstation.supervisor">-->
<!--        <h5 color="dark-shade" class="fontweight-medium">{{assignpollingstation.supervisor.nameArabic}}</h5>-->
<!--      </ion-col>-->
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h6 [translate]="'kioskstouser.subtext'"></h6>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-radio-group>
            <ion-list-header [translate]="'kioskstouser.selectkiosks'">

            </ion-list-header>
            <ion-item *ngFor="let data of kiosksmodel.kiosks">
              <ion-label>{{data.serialNumber}}</ion-label>
              <ion-radio value="{{data.id}}" [checked]="kiosksmodel.kiosk && data.id === kiosksmodel.kiosk.id" (ionSelect)="changeKiosks($event, data)"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-button size="medium" expand="block" color="success" shape="round" (click)="submit()"
                    [disabled]="!(kiosksmodel.kiosk && kiosksmodel.kiosk.id)">
          <ion-ripple-effect></ion-ripple-effect>
         <span [translate]="'kiosks_assign.title_button'"></span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
