//ion-content{
//  --ion-background-color: transparent;
//  background: url(../../assets/bg_login/bg_other@3x.jpg);
//  background-repeat: no-repeat;
//  background-position: center;
//  background-size: contain;
//}
ion-card{
  --ion-background-color: white;
  background: white;
  margin-top: 15px;
  margin-bottom: 0;
}

.width-95 {
  width: 90%;
}
