<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/icon/moi-logo/moi-logo_transparent.png" height="40"/>
    <img src="../../assets/icon/shura-logo/shura_line1.png" height="35px" style="margin-right: 24px;"/>
<!--    <ion-buttons slot="secondary">-->
<!--      <ion-button>-->
<!--        <span class="header-white-moilogo"></span>-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
    <ion-buttons slot="end" >
      <ion-button (click)="goto('messaging/chat/readonly')">
        <span class="header-white-message"></span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="committee-background-design">
  <app-shared-userdirective></app-shared-userdirective>
  <ion-grid>
    <ion-row *ngIf="!(user && user.roles && user.roles.directionsTab)">
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h1 *ngIf="user && user.roles && user.roles.name" [translate]="'dashboard.'+user.roles.name" style="text-align: center;"></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-card *ngIf="(user && user.roles && user.roles.directionsTab)">
            <ion-card-header>
              <h5 [translate]="'dashboard.greeting_sub'"></h5>
              <h6 *ngIf="user && user.roles && (user.roles.name === 'polling_station_supervisor_voting')" [translate]="'dashboard.supervisor_assignedtext_voting'"></h6>
              <h6 *ngIf="user && user.roles && (user.roles.name === 'polling_station_supervisor_counting')" [translate]="'dashboard.supervisor_assignedtext_counting'"></h6>
              <h6 *ngIf="user && user.roles && (user.roles.name === 'polling_station_supervisor_organizing')" [translate]="'dashboard.supervisor_assignedtext_organizing'"></h6>
              <h6 *ngIf="user && user.roles && (user.roles.name === 'committee_member_voting' || user.roles.name === 'committee_member_organizing' || user.roles.name === 'committee_member_counting')" [translate]="'dashboard.supervisor_assignedtext_detail'"></h6>
              <h4 color="dark-shade">{{user.pollingStation.arabicName}}</h4>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" color="success" shape="round" size="medium" (click)="openNavigation(user.pollingStation)">
                <ion-ripple-effect></ion-ripple-effect>
                <span [translate]="'common.get_directions'"></span>
              </ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.kiosksTab)" (click)="goto('kiosk')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/kiosk_new.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9" class="ion-padding-left-5">
                  <h5 class="width-95 line-height-one" [translate]="'dashboard.kiosksstatus'"></h5>
                  <div class="ion-margin-top-12" [translate]="'dashboard.kiosksstatus_deployedtext'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.votingTab)" (click)="goto('votes')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/pie-chart-icon.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9" class="ion-padding-left-5">
                  <h5 class="width-95 line-height-one" [translate]="'dashboard.voting'"></h5>
                  <div class="ion-margin-top-12" [translate]="'dashboard.voting_text'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.attendanceTab)" (click)="goto('attendance')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/attendance.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h5 class="width-95 line-height-one" [translate]="'dashboard.attendance'"></h5>
                  <div class="ion-margin-top-12" [translate]="'dashboard.attendance_text'" *ngIf="user.roles.name !== 'committee_head_voting' && user.roles.name !== 'committee_head_organizing' && user.roles.name !== 'committee_head_counting'"></div>
                  <div class="ion-margin-top-12" [translate]="'dashboard.attendance_text_committee_head_voting'" *ngIf="user.roles.name === 'committee_head_voting'"></div>
                  <div class="ion-margin-top-12" [translate]="'dashboard.attendance_text_committee_head_organizing'" *ngIf="user.roles.name === 'committee_head_organizing'"></div>
                  <div class="ion-margin-top-12" [translate]="'dashboard.attendance_text_committee_head_counting'" *ngIf="user.roles.name === 'committee_head_counting'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.assignPollingStationTab)" (click)="goto('assignpollingstation')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/assign_user.jpg" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h5 class="width-95 line-height-one" [translate]="'dashboard.pollingstation'"></h5>
                  <div class="ion-margin-top-12" [translate]="'dashboard.pollingstation_text'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.witnessTab)"  (click)="goto('witness')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/witness.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h5 class="width-95 line-height-one" [translate]="'dashboard.witnessid'"></h5>
                  <div class="ion-margin-top-12" [translate]="'dashboard.witnessid_text'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.messageTab)" (click)="navigateToMessaging(user.roles)">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/message.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h5 class="width-95 line-height-one" [translate]="'dashboard.message'"></h5>
                  <div class="ion-margin-top-12 width-95" *ngIf="user.roles.name === 'high_committee'" [translate]="'dashboard.sendmessagetoall'"></div>
                  <div class="ion-margin-top-12 width-95" *ngIf="user.roles.name === 'main_committee'" [translate]="'dashboard.sendmessagetoall'"></div>
                  <div class="ion-margin-top-12 width-95" *ngIf="user.roles.name === 'wali_assistant' || user.roles.name === 'wali_officer'" [translate]="'dashboard.sendmessagetohead'"></div>
                  <div class="ion-margin-top-12 width-95" *ngIf="user.roles.name !== 'high_committee' && user.roles.name !== 'main_committee' && user.roles.name !== 'wali_officer' && user.roles.name !== 'wali_assistant'" [translate]="'dashboard.sendmessagetoteam'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <ion-card *ngIf="(user && user.roles && user.roles.messageTabCheckMessage)" (click)="goto('messaging/chat/readonly')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/message.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h5 class="width-95 line-height-one" [translate]="'dashboard.checkmessage'"></h5>
<!--                  <div class="ion-margin-top-12 width-95" [translate]="'dashboard.checkmessage_committeehead'"></div>-->
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.scanQRTab)" (click)="goto('scanqr')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/scan_qr.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h5 class="width-95 line-height-one" [translate]="'dashboard.scanqr'"></h5>
                  <div class="width-95 ion-margin-top-12" *ngIf="user.roles.scanQrTabSelfAssignKiosks" [translate]="'dashboard.markattendance'"></div>
<!--                  <div class="width-95 ion-margin-top-12" *ngIf="!user.roles.scanQrTabSelfAssignKiosks" [translate]="'dashboard.scan_markattendance'"></div>-->
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <ion-card *ngIf="(user && user.roles && user.roles.countingSoftwareTab)" (click)="goto('creds')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/cred-icon.svg" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h5 class="width-95 line-height-one" [translate]="'dashboard.countingSoftwareTab'"></h5>
<!--                  <div class="width-95 ion-margin-top-12"  [translate]="'dashboard.countingSoftwareTabSubText'"></div>-->
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card (click)="goto('contacts')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/contacts_icon.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h5 class="width-95 line-height-one" [translate]="'dashboard.contacts'"></h5>
                  <div class="width-95 ion-margin-top-12" [translate]="'dashboard.contacts_text'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="dashboard-footer">
    <ion-grid>
      <ion-row class="ion-padding-bottom">
        <!--                <ion-col size="3">-->
        <!--                  <ion-img src="/assets/main_screen/kiosk.png" class="image-common-64"></ion-img>-->
        <!--                </ion-col>-->
        <ion-col size="12" class="ion-padding-left-5">
          <h5 class="width-95 line-height-one ion-padding-right-16 ion-margin-bottom" [translate]="'dashboard.startin'" *ngIf="!started"></h5>
          <h5 class="width-95 line-height-one ion-padding-right-16 ion-margin-bottom" [translate]="'dashboard.endin'" *ngIf="started"></h5>
          <div class="ion-margin-top-12">
            <div class="clock" style="margin: 0% -13% 0% 0%;"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
