<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <span class="header-white-moilogo"></span>
      </ion-button>
    </ion-buttons>
    <ion-title [translate]="'dashboard.greeting'"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goto('messaging/chat/readonly')">
        <span class="header-white-message"></span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="!(user && user.roles && user.roles.directionsTab)">
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h1 *ngIf="user && user.roles && user.roles.name" [translate]="'dashboard.'+user.roles.name"></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-card *ngIf="(user && user.roles && user.roles.directionsTab)">
            <ion-card-header>
              <h4 [translate]="'dashboard.greeting_sub'"></h4>
              <h6 *ngIf="user && user.roles && (user.roles.name === 'polling_station_supervisor_voting' || user.roles.name === 'polling_station_supervisor_couting_organizing')" [translate]="'dashboard.supervisor_assignedtext'"></h6>
              <h6 *ngIf="user && user.roles && (user.roles.name === 'committee_member_voting' || user.roles.name === 'committee_member_counting_organizing')" [translate]="'dashboard.supervisor_assignedtext_detail'"></h6>
              <span [translate]="'common.polling_station'"></span>
              <h4 color="dark-shade">{{user.pollingStation.name}}</h4>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" color="success" shape="round" size="medium" (click)="openNavigation(user.pollingStation)">
                <ion-ripple-effect></ion-ripple-effect>
                <span [translate]="'common.get_directions'"></span>
              </ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.kiosksTab)" (click)="goto('kiosk')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/kiosk.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9" class="ion-padding-left-5">
                  <h4 class="line-height-point6" [translate]="'dashboard.kiosksstatus'"></h4>
                  <div class="ion-padding-right-24" [translate]="'dashboard.kiosksstatus_deployedtext'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.attendanceTab)" (click)="goto('attendance')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/attendance.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h4 class="line-height-point6" [translate]="'dashboard.attendance'">Attendance</h4>
                  <div class="ion-padding-right-24" [translate]="'dashboard.attendance_text'">Check attendance for all the committee members</div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.assignPollingStationTab)" (click)="goto('assignpollingstation')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/attendance.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h4 class="line-height-point6" [translate]="'dashboard.pollingstation'">Assign Polling Station</h4>
                  <div class="ion-padding-right-24" [translate]="'dashboard.pollingstation_text'">Assign members & supervisor for polling station</div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.witnessTab)"  (click)="goto('witness')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/witness.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h4 class="line-height-point6" [translate]="'dashboard.witnessid'"></h4>
                  <div class="ion-padding-right-24" [translate]="'dashboard.witnessid_text'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.messageTab)" (click)="navigateToMessaging(user.roles)">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/message.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h4 class="line-height-point6" [translate]="'dashboard.message'"></h4>
                  <div class="ion-padding-right-24" *ngIf="user.roles.name === 'head_committee'" [translate]="'dashboard.sendmessagetoall'"></div>
                  <div class="ion-padding-right-24" *ngIf="user.roles.name === 'wali_assistant' || user.roles.name === 'wali_officer'" [translate]="'dashboard.sendmessagetohead'"></div>
                  <div class="ion-padding-right-24" *ngIf="user.roles.name !== 'head_committee' && user.roles.name !== 'wali_officer' && user.roles.name !== 'wali_assistant'" [translate]="'dashboard.sendmessagetoteam'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
          <ion-card *ngIf="(user && user.roles && user.roles.messageTabCheckMessage)" (click)="goto('messaging/chat/readonly')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/message.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h4 class="line-height-point6" [translate]="'dashboard.checkmessage'"></h4>
                  <div class="ion-padding-right-24" [translate]="'dashboard.checkmessage_committeehead'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card *ngIf="(user && user.roles && user.roles.scanQRTab)" (click)="goto('scanqr')">
            <ion-grid>
              <ion-row class="ion-padding-bottom">
                <ion-col size="3">
                  <ion-img src="/assets/main_screen/scan_qr.png" class="image-common-64"></ion-img>
                </ion-col>
                <ion-col size="9">
                  <h4 class="line-height-point6" [translate]="'dashboard.scanqr'"></h4>
                  <div class="ion-padding-right-24" *ngIf="user.roles.scanQrTabSelfAssignKiosks" [translate]="'dashboard.markattendance'"></div>
                  <div class="ion-padding-right-24" *ngIf="!user.roles.scanQrTabSelfAssignKiosks" [translate]="'dashboard.scan_markattendance'"></div>
                  <ion-icon name="arrow-forward" item-right class="home-page-card-icon-right"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
