<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-button-icon-left">Assign Kiosk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <span color="dark-shade" class="fontweight-medium">Polling Station*</span>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h5 color="dark-shade" class="fontweight-medium">{{kiosksStatusModel.selectedPollingStation.name}}</h5>
      </ion-col>
<!--      <ion-col size="1"></ion-col>-->
<!--      <ion-col size="11">-->
<!--        <span color="dark-shade" class="fontweight-medium">Member*</span>-->
<!--      </ion-col>-->
<!--      <ion-col size="1"></ion-col>-->
<!--      <ion-col size="11" *ngIf="assignpollingstation.supervisor">-->
<!--        <h5 color="dark-shade" class="fontweight-medium">{{assignpollingstation.supervisor.nameArabic}}</h5>-->
<!--      </ion-col>-->
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h6>Please choose the user for the selected kiosk</h6>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-radio-group>
            <ion-list-header>
              Select User*
            </ion-list-header>
            <ion-item *ngFor="let data of kiosksmodel.users">
              <ion-label>{{data.nameEnglish}}</ion-label>
              <ion-radio value="{{data.id}}" [checked]="data.id === kiosksmodel.kiosk.id" (ionSelect)="changeKiosks($event, data)"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-button size="medium" expand="block" color="success" shape="round" (click)="submit()"
                    [disabled]="!(kiosksmodel.kiosk && kiosksmodel.kiosk.id)">
          <ion-ripple-effect></ion-ripple-effect>
         Assign Kiosks
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
