<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard" [text]="'عودة'"></ion-back-button>
    </ion-buttons>
    <ion-title class="back-button-icon-left" [translate]="'assignpollingstation.title'"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="view === 'pollingstation'" class="committee-background-design">
  <app-shared-userdirective></app-shared-userdirective>
  <ion-grid>
    <ion-row *ngIf="!user.roles.directionsTab">
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h5 color="dark-shade" class="fontweight-medium" [translate]="'assignpollingstation.subtitle'"></h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-radio-group>
            <ion-list-header [translate]="'common.polling_station_star'">

            </ion-list-header>
            <ion-item *ngFor="let data of kiosksmodel.pollingstations">
              <ion-label>{{data.arabicName}}</ion-label>
              <ion-radio value="{{data.id}}" [checked]="kiosksmodel.pollingstation && kiosksmodel.pollingstation.id === data.id" (ionSelect)="kiosksmodel.changePollingStation(data.name)"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-button size="medium" expand="block" color="success" shape="round" (click)="changeView('supervisor')"
                    [disabled]="!(kiosksmodel.pollingstation.id)">
          <ion-ripple-effect></ion-ripple-effect>
          <span [translate]="'assignpollingstation.continue'"></span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="view === 'supervisor'" class="committee-background-design">
  <app-shared-userdirective></app-shared-userdirective>
  <ion-grid>
    <ion-row *ngIf="!user.roles.directionsTab">
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <span color="dark-shade" class="fontweight-medium" [translate]="'common.polling_station_star'"></span>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h5 color="dark-shade" class="fontweight-medium">{{kiosksmodel.pollingstation.arabicName}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h6 [translate]="'assignpollingstation.chosesupervisor'"></h6>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-radio-group>
<!--            <ion-list-header [translate]="'assignpollingstation.selectsupervisor'">-->
<!--            </ion-list-header>-->
            <ion-item *ngFor="let data of assignpollingstation.users">
              <ion-label>{{data.nameArabic}}</ion-label>
              <ion-radio value="{{data.id}}" [checked]="assignpollingstation.supervisor && data.id === assignpollingstation.supervisor.id" (ionSelect)="assignpollingstation.assignsupervisor(data)"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-button size="medium" expand="block" color="success" shape="round" (click)="changeView('teammembers')"
                    [disabled]="!(kiosksmodel.pollingstation.arabicName)">
          <ion-ripple-effect></ion-ripple-effect>
          <span [translate]="'assignpollingstation.continue'"></span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="view === 'teammembers'" class="committee-background-design">
  <app-shared-userdirective></app-shared-userdirective>
  <ion-grid>
    <ion-row *ngIf="!user.roles.directionsTab">
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <span color="dark-shade" class="fontweight-medium" [translate]="'common.polling_station_star'"></span>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h5 color="dark-shade" class="fontweight-medium">{{kiosksmodel.pollingstation.arabicName}}</h5>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <span color="dark-shade" class="fontweight-medium" [translate]="'assignpollingstation.supervisor'"></span>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11" *ngIf="assignpollingstation.supervisor">
        <h5 color="dark-shade" class="fontweight-medium">{{assignpollingstation.supervisor.nameArabic}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h6 [translate]="'assignpollingstation.addmembers_topolling'"></h6>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none">
<!--          <ion-list-header [translate]="'assignpollingstation.addmembers'">-->
<!---->
<!--          </ion-list-header>-->
          <ion-item *ngFor="let data of assignpollingstation.nonsupervisorusers">
            <ion-label>{{data.nameArabic}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="data.selected" (ionChange)="assignpollingstation.assignMember($event, data)"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-button size="medium" expand="block" color="success" shape="round" (click)="changeView('preview')"
                    [disabled]="!(assignpollingstation.users.length)">
          <ion-ripple-effect></ion-ripple-effect>
          <span [translate]="'assignpollingstation.save_assign'"></span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="view === 'preview'" class="committee-background-design">
  <app-shared-userdirective></app-shared-userdirective>
  <ion-grid>
    <ion-row *ngIf="!user.roles.directionsTab">
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <span color="dark-shade" class="fontweight-medium" [translate]="'common.polling_station_star'"></span>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <h5 color="dark-shade" class="fontweight-medium">{{kiosksmodel.pollingstation.arabicName}}</h5>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <span color="dark-shade" class="fontweight-medium" [translate]="'assignpollingstation.supervisor'"></span>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11" *ngIf="assignpollingstation.supervisor">
        <h5 color="dark-shade" class="fontweight-medium">{{assignpollingstation.supervisor.nameArabic}}</h5>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <span color="dark-shade" class="fontweight-medium" [translate]="'assignpollingstation.members_star'"></span>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <div *ngFor="let data of assignpollingstation.nonsupervisorusers">
          <h5 color="dark-shade" class="fontweight-medium" *ngIf="data.selected">{{data.nameArabic}}</h5>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-button size="medium" expand="block" color="success" shape="round" (click)="submit()">
          <ion-ripple-effect></ion-ripple-effect>
          <span [translate]="'assignpollingstation.done'"></span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
